body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 3px;
}
h1 {
    color: #333;
}
p {
    color: #666;
}
.yuliia-name {
    color: #D32F2F; /* A powerful, bold red */
    font-weight: bold;
    font-style: italic;
}
img.illustration {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 20px;
    float: left;
}
.breadcrumb {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.breadcrumb ul li {
    display: inline;
    font-size: 18px;
}

.breadcrumb a {
    color: #333;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}
